/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f7f7f7;
}

/* Header Styles */
header {
    background-color: #ddcdc2;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    
}

header .container1 {
    display: flex;
    justify-content: center; /*horizontally center(from left and right)*/
    align-items: center; /*vertically center(from top and bottom)*/
    padding: 20px 10px;
}

#logo h1{
    color: #070707;
    font-family: Garamond, serif;
    font-size: 7rem;
    font-weight: 400;
    text-decoration: none;
}

#logo p{
    font-family:'Brush Script MT', cursive;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

/*options list*/
.nav {
    position: sticky;
    box-shadow: 0px 3px 5px rgba(49, 48, 46, 0.947);
    display:flex;
    top: 0;
    background-color: #080707;
    padding: 15px 10px;
    justify-content: center; /*horizontally center(from left and right)*/
    align-items: center; /*vertically center(from top and bottom)*/
    width: 100%;
    height: 6px;
}
@media screen and (max-width: 600px) {
    .nav ul li {
      margin-left: 10px;
    }
} 

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 60px;
}

nav ul li a {
    color: #f7f7f7;
    text-decoration: none;
}

nav ul li .openLogin {
    color: #b36902;
    text-decoration: none;
}


nav ul li a:hover {
    color: #999;
}

.openLogin:hover , .openReg:hover{
    color: #a8752f;
}
/*----------------------------------------------------Login popup---------------------------------------------*/
@media screen and (max-width: 600px) {
    button.openLogin {
      margin-left: 10px;
    }
} 
/* Button used to open the contact form */
.openLogin {
    background-color: #020202;
    color: peru;
    border: none;
    font-size: medium;
    margin-left: 60px;
    margin-top: -1px;
    cursor: pointer;
}

.Loginform-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 200;
}

/* Add styles to the form container */
@media screen and (max-width: 600px) {
    form.Loginform-container {
      margin-left: 25%;
      margin-top: -55%;
    }
} 

.Loginform-container {
    height:85%;
    width: 50%;
    min-width: 200px;
    display:block;
    position:absolute;
    margin-left: 25%;
    margin-top: -20.5%;
    background-color: rgb(150, 147, 147);
    opacity: 0.98;
    border-radius: 12px;
    box-shadow: 
        0px 2px 10px rgba(0,0,0,0.2), 
        0px 10px 20px rgba(0,0,0,0.3), 
        0px 30px 60px 1px rgba(0,0,0,0.5);
    z-index: 1;    
}
  
  /* Full-width input fields */
  .Loginform-container input[type=text], .Loginform-container input[type=password] {
    justify-content: center; /*horizontally center(from left and right)*/
    width: 95%;
    padding: 6px;
    border-radius: 12px;
    border:#000503;
    background: #f1f1f1;
}
  
  /* When the inputs get focus, do something */
  .Loginform-container input[type=text]:focus, .Loginform-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for the submit/login button */
  .Loginform-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.9;
}

.Loginform-container .btncancel {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-left: 50px;
    margin-bottom:40px;
    opacity: 0.9;
}
  
  
  /* Add some hover effects to buttons */
  .Loginform-container .btn:hover, .openLogin:hover {
    opacity: 1;
}



/*----------------------------------------------------register popup---------------------------------------------*/
@media screen and (max-width: 600px) {
    button.openReg{
      margin-left: 10px;
    }
} 

/* Button used to open the contact form */
.openReg {
    background-color: #020202;
    color: peru;
    border: none;
    font-size: medium;
    margin-left: 60px;
    margin-top: -1px;
    cursor: pointer;
}

.Regform-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    form.Regform-container {
      height: 98%;
      width: 70%;
      margin-left: 15%;
      margin-top: -62%;
    }
} 

.Regform-container {
    height:85%;
    width: 50%;
    display:block;
    position:absolute;
    margin-left: 25%;
    margin-top: -20.5%;
    background-color: rgb(150, 147, 147);
    opacity: 0.98;
    border-radius: 12px;
    box-shadow: 
        0px 2px 10px rgba(0,0,0,0.2), 
        0px 10px 20px rgba(0,0,0,0.3), 
        0px 30px 60px 1px rgba(0,0,0,0.5);
}

  
  /* Full-width input fields */
.Regform-container input[type=text], .Regform-container input[type=password] {
    justify-content: center; /*horizontally center(from left and right)*/
    width: 100%;
    padding: 6px;
    margin: 5px 0 22px 0;
    border-radius: 12px;
    border:#000000;
    background: #f1f1f1;
}

.Regform-container input[type=name], .Loginform-container input[type=name] {
    justify-content: center; /*horizontally center(from left and right)*/
    width: 30%;
    padding: 6px;
    margin: 5px 35px 22px 0;
    border-radius: 12px;
    border:#071f16;
    background: #f1f1f1;
}
  
  /* When the inputs get focus, do something */
.Regform-container input[type=text]:focus, .Regform-container input[type=name]:focus, .Regform-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for the submit/login button */
.Regform-container .btn {
    /*background-color: #c54c00;*/
    background-color: #c45806;
    color:rgb(255, 253, 253);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 49%;
    margin-bottom:10px;
    opacity: 0.9;
}
.Regform-container .btncancel {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-left: 50px;
    margin-bottom:40px;
    opacity: 0.9;
}
  
  
  /* Add some hover effects to buttons */
.Regform-container .btn:hover, .openLogin:hover {
    opacity: 1;
}



/*------------------------------------------------------------------------------------------------------------*/
/* Main Styles */
main {
    margin-top: 3px;
    background-color: #f7f7f7;
}

main h1 {
    font-size: 4.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: -10px;
}

main p {
    text-align: center;
    margin-bottom: 50px;
}

.artworks {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.artwork {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.artwork img {
    max-width: 100%;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.artwork h2 {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.artwork p {
    margin: 10px;
    font-size: 1rem;
    color: #999;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}
