<!DOCTYPE html>
<html>
<head>
	<title>Art Gallery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/gen_home_style.css">
</head>
<body>
	
	<header>
		<div class="container1">
			<div id="logo">
				<!--<a href="#">Art House</a>-->
				<h1>Art House</h1>
				<p><i>An online market place for Art.</i></p>
			</div>
		</div>	
	</header>


	<main>
		<div class="nav">
			<nav>
				<ul>
					<input type="text" placeholder= "  Search..">
					<li><a href="gen_home.ejs">Home</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Artists</a></li>
					<!--<li><a style ="color:peru"; href="signin_register\signin_popup.html">Login</a></li>-->
					<!-- <button class="openLogin" onclick="openLoginForm()">Login</button>
					<button class="openReg" onclick="openRegForm()">Register</button> -->
                    <li class="openLogin"><a href="/login">Login</a></li>
					<li class ="openReg"><a href="/register">Register</a></li>
				</ul>
			</nav>
		</div>
		<!-- <div class="Loginform-popup" id="myForm">
			<form action="home.php" class="Loginform-container">
			  <h1>Login</h1>
		  
			  <label for="email"><br>Email</br></label>
			  <input type="text" placeholder="Enter Email" name="email" required>
		  
			  <label for="psw"><b>Password</b></label>
			  <input type="password" placeholder="Enter Password" name="psw" required>
		  
			  <button type="submit" class="btn"><a href="signedin\home.html">Login</a></button>
			  <button type="button" class="btncancel" onclick="closeLoginForm()">x</button>
			</form>
		</div>

		<div class="Regform-popup" id="myForm2">
			<form action="/action_page.php" class="Regform-container">
			  <h1>Register</h1>
		  
			  <label for="fname">First Name<br></label>
			  <input type="name" placeholder="First Name" name="email" required>

			  <label for="lname">Last Name<br></label>
			  <input type="name2" placeholder="Last Name" name="email" required>

			  <label for="email"><b>Email</b></label>
			  <input type="text" placeholder="Enter Email" name="email" required>
		  
			  <label for="psw"><b>Password</b></label>
			  <input type="password" placeholder="Enter Password" name="psw" required>
			  <input type="password" placeholder="Confirm Password" name="psw" required>
		  
			  <button type="submit" class="btn">register</button>
			  <button type="button" class="btncancel" onclick="closeRegForm()">x</button>
			</form>
		</div> -->
		  
		
		<div class="container">
			<div class="artworks">
				<!-- Add your artworks here -->
                <div class="artwork">
                    <img src="/images/0af86bda-688a-4153-b106-920204451783.jpg" alt="Artwork 1">
                    <h2>Artwork 1</h2>
                    <p>$100</p>
                  </div>
                  <div class="artwork">
                    <img src="/images/4c90d040-ba45-4d67-bd14-a9d7ed42c891.jpg" alt="Artwork 2">
                    <h2>Artwork 2</h2>
                    <p>$200</p>
                  </div>
				  <div class="artwork">
					<img src="/images/79f6ef81-661f-4d3a-b12e-1b6c06561d3b.jpg" alt="Artwork 3">
					<h2>Artwork 3</h2>
					<p>$300</p>
				  </div>
				  <div class="artwork">
					<img src="/images/caf247f2-2037-44ed-9844-20817a77f1e5.jpg" alt="Artwork 3">
					<h2>Artwork 4</h2>
					<p>$400</p>
				  </div>
				  <div class="artwork">
					<img src="/images/9e3bb686-35d2-4d21-ada0-51594d3c73eb.jpg" alt="Artwork 3">
					<h2>Artwork 5</h2>
					<p>$500</p>
				  </div>
				  <div class="artwork">
					<img src="/images/94b52758-0466-40e4-8f84-c7a8815985ad.jpg" alt="Artwork 3">
					<h2>Artwork 6</h2>
					<p>$500</p>
				  </div>
			</div>
		</div>

	</main>


    
	<footer>
		<div class="container">
			<p>&copy; Art Gallery 2023</p>
		</div>
	</footer>
	
	<script src="/scripts/gen_home_script.js"></script>

</body>
</html>
