<!DOCTYPE html>
<html>
<head>
	<title>Art Gallery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/gen_home_style.css">
</head>
<body>

	<header>
		<div class="container1">
			<div id="logo">
				<!--<a href="#">Art House</a>-->
				<h1>Art House</h1>
				<p><i>An online market place for Art.</i></p>
			</div>
		</div>	
	</header>


	<h1>login</h1>

	<form action="/login" method="post">
		<input type="text" name="username"
			placeholder="username">
		<input type="password" name="passwd"
			placeholder="passwd">
		<button type="submit">login</button>
	</form>

	<footer>
		<div class="container">
			<p>&copy; Art Gallery 2023</p>
		</div>
	</footer>	

</body>
</html>

