<!DOCTYPE html>
<html>
<head>
	<title>Art Gallery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/order_style.css">
</head>
<body>
	
	<header>
		<div class="container1">
			<div id="logo">
				<!--<a href="#">Art House</a>-->
				<h1>Art House</h1>
				<p><i>An online market place for Art.</i></p>
			</div>
		</div>	
	</header>


	<main>
		<div class="nav">
			<nav>
				<ul>
					<input type="text" placeholder= "  Search..">
					<li><a href="/home">Home</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Artists</a></li>
					<li><a href="order.html">Order</a></li>
					<li>
						<button onclick="account_dropdown_func()" class="account_dropdown_btn">Account</button>
						<div id="account_dropdown" class="account_dropdown_content">
							<a href="#">My Profile</a>
							<a href="../account/earnings/earnings.html">Earnings</a>
							<a href="../../gen_home.html">Logout</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>


        <div class="trackorder">
            <h2>Track Order</h2>
        </div>
	</main>


    
	<footer>
		<div class="container">
			<p>&copy; Art House 2023</p>
		</div>
	</footer>
	
	<script src="script.js"></script>


</body>
</html>
