<!-- <h1> Sign up form </h1>

<form action="/register" method="POST">
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>Submit</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li> -->

<!DOCTYPE html>
<html>
<head>
	<title>Art Gallery</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/gen_home_style.css">
</head>
<body>

	<header>
		<div class="container1">
			<div id="logo">
				<!--<a href="#">Art House</a>-->
				<h1>Art House</h1>
				<p><i>An online market place for Art.</i></p>
			</div>
		</div>	
	</header>


	<h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="Passwd" name="passwd">
        <button type="submit">Submit</button>
    </form>

	<footer>
		<div class="container">
			<p>&copy; Art Gallery 2023</p>
		</div>
	</footer>	

</body>
</html>


<body>
    
</body>
</html
